<div class="card card-body blur shadow-blur mb-4">
  <form method="get" action="" class="w-100">
    <div class="row align-items-center">
      <div class="col-lg-8">
        <div class="d-flex align-items-center">
          <i class="material-icons text-primary me-2">search</i>
          <label class="text-primary font-weight-bold mb-0 me-3">Search</label>

          <div class="input-group input-group-static w-100">
            {{ search_form.title }}
          </div>
        </div>
        <div class="ms-5 mt-1">
          <span class="text-xs text-secondary">Enter name to filter the list below</span>
        </div>
      </div>

      <div class="col-lg-4 text-end mt-lg-0 mt-3">
        <button type="submit" class="btn bg-gradient-primary mb-0">Search</button>
        <a href="." class="btn btn-link text-secondary mb-0">Reset</a>
      </div>
    </div>
  </form>
</div>