{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">

  <title>Restaurant Manager - {% block title %}{% endblock %}</title>

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <link href="{% static 'assets/css/nucleo-icons.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/nucleo-svg.css' %}" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

  <link id="pagestyle" href="{% static 'assets/css/material-kit.css' %}?v=3.0.0" rel="stylesheet" />

  <style>
    /* Ensures the footer stays at the bottom of the viewport */
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    .main-content {
      flex: 1 0 auto;
    }
    .footer {
      flex-shrink: 0;
    }
  </style>

  {% block stylesheets %}{% endblock stylesheets %}
</head>

<body class="bg-gray-200">
  <div class="main-content">
    {% block content %}{% endblock content %}
  </div>

  {% include "includes/footer.html" %}

  <script src="{% static 'assets/js/core/popper.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'assets/js/core/bootstrap.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'assets/js/material-kit.min.js' %}?v=3.0.0" type="text/javascript"></script>
  {% block javascripts %}{% endblock javascripts %}
</body>
</html>