{% extends "base.html" %}
{% block content %}
  {% include 'includes/navigation.html' %}
  <div class="container mt-9 mb-6">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="card card-body blur shadow-blur p-4">
          <div class="text-center mb-4">
            <h2 class="text-gradient text-primary">{% if object %}Update{% else %}Create{% endif %} Dish</h2>
          </div>
          <form method="post" action="">
            {% csrf_token %}
            {% for field in form %}
              <div class="input-group input-group-static mb-4">
                <label class="font-weight-bold text-primary d-block mb-2">{{ field.label }}</label>
                <div class="w-100 py-1">
                  {{ field }}
                </div>
                {% for error in field.errors %}<p class="text-danger text-xs mt-1">{{ error }}</p>{% endfor %}
              </div>
            {% endfor %}
            <div class="row mt-5">
              <div class="col-6"><button type="submit" class="btn bg-gradient-primary w-100">Save Dish</button></div>
              <div class="col-6"><a href="{% url 'menu:dish-list' %}" class="btn btn-outline-secondary w-100">Cancel</a></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}